NEXT_PUBLIC_STACK_PROJECT_ID=412042a5-49ca-456d-bb8e-cb44e1b1b698
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=pck_ngxs0ew10nsbjwkdprp59jfy065rkrjsda98sc8preazg
STACK_SECRET_SERVER_KEY=ssk_k144d06c4tvr2k7ywzfw73mvyk3q4t83fky8wg4h5ck3g